.container {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
}

.SearchContainer {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}