.container {
  width: 100%;
  box-sizing: border-box;
  height: 95px;
  background-color: var(--feature-background-color);
  border-radius: var(--border-radius);
  padding: var(--feature-padding);
  margin-bottom: var(--featurelist-margin);
  border: 1px solid var(--feature-border-color);
  display: flex;
  flex-direction: column;
}

.container:hover {
  background-color: var(--featurelist-background-color);
}

.titleContainer {
  display: flex;
  align-items: center;
}
