.container {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  background-color: var(--feature-background-color);
  border-radius: var(--border-radius);
  padding: var(--feature-padding);
  margin-top: var(--featurelist-margin);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
}
