.container {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  background-color: var(--feature-background-color);
  border-radius: var(--border-radius);
  padding: var(--feature-padding);
  margin-bottom: var(--featurelist-margin);
  border: 1px solid var(--feature-border-color);
  display: flex;
}

.container:hover {
  background-color: var(--featurelist-background-color);
}

.titleContainer {
height: auto;
}

.containerInfo {
  width: 100%;
  margin-left: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}