.container {
  width: 100%;
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: var(--standard-padding);
  display: flex;
  flex-direction: column;
}

.containerRoadmap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--standard-padding) !important;
  margin-left: var(--filter-margin);
}

.agua {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.agua:hover {
  color: var(--vote-primary-color);
}

.buttonContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: var(--filter-margin);
}
