.container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: var(--standard-padding);
  display: flex;
  flex-direction: column;
}

.filtersContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
