html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

:root {
  --border-color: #ccc;
  --standard-padding: 64px;
  --features-amount-size: 25px;
  --subtitle-font-size: 18px;
  --section-title-font-size: 25px;
  --filter-width: 200px;
  --filter-padding-vertical: 8px;
  --filter-padding-horizontal: 16px;
  --filter-background-color: #ccc;
  --status-background-color: #fff;
  --feature-amount-font-size: 12px;
  --standard-border-radius: 4px;
  --filter-margin: 16px;
  --filter-amount-background-color: #fff;
  --featurelist-width: 400px;
  --featurelist-background-color: #ccc;
  --border-radius: 4px;
  --featurelist-padding: 16px;
  --featurelist-margin: 16px;
  --feature-background-color: #fff;
  --feature-padding: 16px;
  --primary-color: blue;
  --vote-button-font-size: 16px;
  --feature-margin-left-from-button: 8px;
  --tag-padding-horizontal: 8px;
  --tag-padding-vertical: 4px;
  --tag-font-size: 14px;
  --tag-background-color: #ccc;
}

.containerApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
